.card {
  width: 240px;

  display: flex;
  flex-direction: column;

  &__email {
    margin-top: 10px;
    color: #a2a2a2;
  }
}

.card__image-container {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .delete-icon {
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 5px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    opacity: 0.1;
    transition-duration: 500ms;

    &:hover {
      opacity: 1;
      color: red;
    }
  }
}
